html {
    scroll-behavior: smooth;
}

:root {
    --usual:   'Centaur', 'Times New Roman', 'Helvetica', 'Sans-Serif' 'Arial';
    --sideshow: 'Helvetica', 'Times New Roman', 'Arial',
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
}

#container{
    width: auto;
    padding: 20px;
    border: solid 1px black;
}

.main-header {
    width: auto;
    height: 75px;
    background-color: #fedf3d;
    padding: 15px;
    border: solid 1px black;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    display: flex;
}

header>h1 {
    padding-left: 15px;
    display: flex;
    align-items: center;
    font-size: x-large;
    font-weight: 700;
    font-family: "Centaur";
}



#headbar{
    display: flex;
    height: 100%;
    flex-wrap: wrap;
}

#logo {
    height: 70px;
    width: 70px;
    margin-right: 16px;
    border: 1px solid black;
    border-radius: 9999px;
    background-image: url(../assets/FYQH7UbUUAEejXg.jfif);
    background-size: cover;
    background-position: center;
}


#headbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    align-items: center;
}

#headbar li {
    margin-right: 20px;
    width: 105px;
    height: 45px;
    background-color: white;
    border: solid 1px #363fc3;
    border-radius: 8px;
    padding: 5px;
    align-content: center;
    box-shadow: 0 10px 15px -3px rgb(0, 0, 0, 0.1), 0 4px 6px -4px rgb(0, 0, 0, 0.1);
    flex: 1 1 auto;
    text-align: center;
}

#headbar a {
    color: #000;
    font-size: medium;
    text-decoration: none;
    padding: 12px;   
}

.section-header {
    text-decoration: none;
}

#section-home {
    border: solid 1px black;
    margin: 5px;
    padding: 12px;
    max-height: 578px;
}

#section-offices {
    border: solid 1px black;
    margin: 5px;
    padding: 12px;
}

#office-locations {
    padding-left: 35px;
    padding-right: 35px;
    display: flex;
    text-align: center;
    flex-wrap: nowrap;
    justify-content: space-around;
}

#office-locations img {
    border: none;
    border-radius: 9999px;
    width: 150px;
    height: 150px;
    box-shadow: 0 10px 15px -3px rgb(0, 0, 0, 0.1), 0 4px 6px -4px rgb(0, 0, 0, 0.1);
}

#section-portfolio {
    border: solid 1px black;
    margin: 5px;
    padding: 12px;
}

#section-message {
    border: solid 1px black;
    margin: 5px;
    padding: 12px;
}

footer {
    width: auto;
    height: 75px;
    background-color: #fedf3d;
    padding: 15px;
    border: solid 1px black;
    text-align: center;
    align-content: center;
}

/* Apply styles for screens with a max-width of 768px */
@media (max-width: 768px) {
    #header {
        flex-direction: column; /* Change layout to column on smaller screens */
    }
    #headbar {
        width: 100%; /* Make #headbar full-width on smaller screens */
    }
    #headbar li {
        flex: 1 1 100%;
        margin: 5px 0;
    }
    #section-home {
        height: auto;
    }
}