html {
    scroll-behavior: smooth;
}

:root {
    --usual:   'Centaur', 'Times New Roman', 'Helvetica', 'Sans-Serif' 'Arial';
    --sideshow: 'Helvetica', 'Times New Roman', 'Arial',
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
}

#container{
    width: auto;
    padding: 20px;
    border: solid 1px black;
}

.main-header {
    width: auto;
    height: 75px;
    background-color: #fedf3d;
    padding: 15px;
    border: solid 1px black;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    display: flex;
}

header h1 {
    padding-left: 15px;
    display: flex;
    align-items: center;
    font-size: x-large;
    font-weight: 700;
    font-family: "Centaur";
}



#headbar{
    display: flex;
    height: 100%;
    flex-wrap: wrap;
}

#logo {
    height: 70px;
    width: 70px;
    margin-right: 16px;
    border: 1px solid black;
    border-radius: 9999px;
    background-image: url(../assets/FYQH7UbUUAEejXg.jfif);
    background-size: cover;
    background-position: center;
}

#headbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    align-items: center;
}

#headbar li {
    margin-right: 20px;
    width: 105px;
    height: 45px;
    background-color: white;
    border: solid 1px #363fc3;
    border-radius: 8px;
    padding: 5px;
    align-content: center;
    box-shadow: 0 10px 15px -3px rgb(0, 0, 0, 0.1), 0 4px 6px -4px rgb(0, 0, 0, 0.1);
    flex: 1 1 auto;
    text-align: center;
    cursor: pointer;
}

#headbar a {
    color: #000;
    font-size: medium;
    text-decoration: none;   
}

nav#headbar li:hover, nav#headbar li:focus, nav#headbar li:active {
    background-color: #993300;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

nav#headbar li:hover a, nav#headbar li:focus a, nav#headbar li:active a {
    color: #fff;
}

.section-header {
    text-decoration: none;
}

#section-home {
    margin: 5px;
    padding: 12px;
    max-height: 800px;
    overflow: hidden;
    
}

#section-home p {
    margin-bottom: 35px;
}

.swiper-container {
    height: 450px;
    width: 100%;
    max-width: 800px;
    margin: auto;
}


.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover; /* Untuk aspect ratio */
}

/*Button pengoperasian Swiper*/
.swiper-button-next,
.swiper-button-prev {
    color: #000;
    transform: translateY(175px);
}

.swiper-button-prev{
    left: 10px;
}

.swiper-button-next{
    right: 10px;
}

#section-home img {
    object-fit: cover;
    width: 100%;
    height: auto;
    border: #000 solid 1px;
    border-radius: 25px;
    
}

#section-offices {
    margin: 5px;
    padding: 12px;
}

#office-locations {
    padding-left: 35px;
    padding-right: 35px;
    display: flex;
    text-align: center;
    flex-wrap: nowrap;
    justify-content: space-around;
}

#office-locations img {
    border: none;
    border-radius: 9999px;
    width: 150px;
    height: 150px;
    box-shadow: 0 10px 15px -3px rgb(0, 0, 0, 0.1), 0 4px 6px -4px rgb(0, 0, 0, 0.1);
}

#section-portfolio {
    margin: 5px;
    padding: 12px;
}

#section-message {
    margin: 5px;
    padding: 12px;
}

#message-container {
    display: flex;
    justify-content: space-between;
}

#message-container form textarea {
    width: 150%;
    height: 30%;
}

#message-container div {
    border: #000 solid 1px; 
    border-radius: 25px; 
    width: 60%; 
    padding-left: 12px;
}

footer {
    width: auto;
    height: 75px;
    background-color: #fedf3d;
    padding: 15px;
    border: solid 1px black;
    text-align: center;
    align-content: center;
}

/* Apply styles for screens with a max-width of 768px */
@media only screen and (max-width: 768px) {
    .main-header {
        display: flex;
        flex-direction: column; /* Change layout to column on smaller screens */
        height: auto;
    }

    .main-header h1 {
        font-size: 0; /* Hide the text */
        margin: 0; /* Adjust the margin to maintain the layout */
    }

    .main-header h1 #logo {
        font-size: initial; /* Reset the font-size for the logo */
        margin: 0 auto; /* Center the logo horizontally */
    }

    #headbar {
        width: 100%; /* Make #headbar full-width on smaller screens */
    }

    #headbar li {
        display: flex;
        flex-direction: column;
        flex: 1 1 100%;
        margin: 5px;
        justify-content: center;
    }

    #section-home {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .section-header{
        display: flex;
    }

    .section-header h1{
        display: flex;
        font-size: large;
        padding-left: 0px;
    }

    .swiper-button-next,
    .swiper-button-prev {
    transform: translateY(378px);
    }

    #office-locations{
        display: flex;
        flex-direction: column;
    }

    #message-container {
        display: flex;
        flex-direction: column;
    }

    #message-container form textarea{
        width: 100%;
    }

    #message-container div{
        margin-top: 18px;
        width: 100%;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1250px) {
    .main-header {
        height: auto;
    }

    .swiper-button-next, .swiper-button-prev {
        transform: translateY(325px);
    }

    #message-container {
        display: flex;
        flex-direction: column;
    }

    #message-container form textarea{
        width: 100%;
    }

    #message-container div{
        margin-top: 18px;
        width: 100%;
    }
}